<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="en">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
	<head>
		<!-- Заголовок страницы в браузере -->
		<title>MyRestaurant</title>
		<!-- Подключаем CSS -->
		<link rel="stylesheet" href="css/menu.css" />
		<!-- Кодировка страницы -->
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
	<!-- Отображаемое тело страницы -->
	<body>
	<div class="main_conteiner_menu">
		<div class="head_conteiner">
			<div class="menu_el1"><a href="dish.html"><p>dish</p></a></div>
			<div class="menu_el2"><a href="tables.html"><p>table</p></a></div>
			<div class="head_title"><a href="index.html"><p>My Restaurant</p></a></div>
			<div class="menu_el3"><a href="index.html"><p>orders</p></a></div>
			<div class="menu_el4"><a href="index.html"><p>kontakt</p></a></div>
		</div>
		<div class="body_conteiner_menu">
			<div class="menu_container">
				<div class="menu_section">
					<ul>
						<li><a href="dish.html"><p > Breakfasts</p></a></li>
						<li><a href="dishSa.html"><p > Salads</p></a></li>
						<li><a href="dishMd.html"> <p >Main dish</p></a></li>
						<li><a href="dishDe.html"> <p >Desserts</p></a></li>
						<li><a href="dishSd.html"><p > Soft drinks</p></a></li>
						<li><a href="dishWi.html"> <p >Wines</p></a></li>
						
					</ul>
				</div>
				<div class="menu_contex">
					<h1 class="h1_menu">SALADS</h1>
					<h1 class="h2_menu">It's time for a healthy meal that will give you energy and vigor! Try fresh salads filled to the brim with colorful rarities. Let yourself be surprised by the sophisticated taste combinations!</h1>
					<div class="dish">
					   <div class="title_dish">Salmon salad</div>
					   <div class="dish_price">
					   	<div class="big_article">37</div>
					   	<div class="litle_article">00</div>
					   </div>
					   <div class="dish_contex">Mix of lettuce with smoked salmon, quail eggs, black sturgeon caviar, red onion and cherry tomatoes, with homemade sauce according to the chef’s recipe</div>
					   <div class="dish_ADD">ADD</div>	
					</div>
					<div class="dish">
					   <div class="title_dish">Salad with goat’s cheese</div>
					   <div class="dish_price">
					   	<div class="big_article">32</div>
					   	<div class="litle_article">00</div>
					   </div>
					   <div class="dish_contex">Mix of lettuce with cashews, walnuts and raspberry-herb sauce</div>
					   <div class="dish_ADD">ADD</div>	
					</div>
					<div class="dish">
					   <div class="title_dish">Chicken salad</div>
					   <div class="dish_price">
					   	<div class="big_article">36</div>
					   	<div class="litle_article">00</div>
					   </div>
					   <div class="dish_contex">Mix of lettuce with homemade sauce, grilled chicken, avocado, dried tomatoes, blue cheese, sprinkled with walnuts</div>
					   <div class="dish_ADD">ADD</div>	
					</div>
					<div class="dish">
					   <div class="title_dish">
					   	Ceasar Salad with chicken
					   </div>
					   <div class="dish_price">
					   	<div class="big_article">36</div>
					   	<div class="litle_article">00</div>
					   </div>
					   <div class="dish_contex">Roman salad with bacon, toasts, cherry tomatoes, Parmesan, Caesar dressing and juicy chicken meat</div>
					   <div class="dish_ADD">ADD</div>	
					</div>
					<div class="dish">
					   <div class="title_dish">Caesar Salad with fried shrimps with garlic and chilli</div>
					   <div class="dish_price">
					   	<div class="big_article">45</div>
					   	<div class="litle_article">00</div>
					   </div>
					   <div class="dish_contex">Roman salad with bacon, toasts, cherry tomatoes, Parmesan, Caesar dressing and fried shrimps with garlic and chilli</div>
					   <div class="dish_ADD">ADD</div>	
					</div>
					<div class="dish">
					   <div class="title_dish">Caesar Salad with grilled juicy beef sirloin</div>
					   <div class="dish_price">
					   	<div class="big_article">56</div>
					   	<div class="litle_article">00</div>
					   </div>
					   <div class="dish_contex">Roman salad with bacon, toasts, cherry tomatoes, Parmesan, Caesar dressing and juicy beef sirloin</div>
					   <div class="dish_ADD">ADD</div>	
					</div>
					<div class="dish">
					   <div class="title_dish">Beef Sirloin Salad</div>
					   <div class="dish_price">
					   	<div class="big_article">56</div>
					   	<div class="litle_article">00</div>
					   </div>
					   <div class="dish_contex">Mix of lettuce with grilled beef sirloin, avocado, roasted sunflower seeds, cherry tomatoes and homemade sauce according to the chef’s recipe</div>
					   <div class="dish_ADD">ADD</div>	
					</div>
					
				</div>
				
			</div>		
		</div>
		<footer class="footer_conteiner">
			<div class="line1_footer">
				<div class="el1_footer">Facebook</div>
				<div class="el2_footer">Mail</div>
				<div class="el3_footer">Telefon</div>
			</div>
			<div class="line2_footer">Adress</div>
		</footer>
	</div>
	</body>
</html>