<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="en">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
	<head>
		<!-- Заголовок страницы в браузере -->
		<title>MyRestaurant</title>
		<!-- Подключаем CSS -->
		<link rel="stylesheet" href="css/style.css" />
		<!-- Кодировка страницы -->
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
	<!-- Отображаемое тело страницы -->
	<body>
	<div class="main_conteiner">
		<div class="head_conteiner">
			<div class="menu_el1"><a href="dish.html"><p>dish</p></a></div>
			<div class="menu_el2"><a href="tables.html"><p>table</p></a></div>
			<div class="head_title"><a href="index.html"><p>My Restaurant</p></a></div>
			<div class="menu_el3"><a href="orders.html"><p>orders</p></a></div>
			<div class="menu_el4"><a href="index.html"><p>kontakt</p></a></div>
		</div>
		<div class="body_conteiner">
			<div class="tables12_colum">
				<div class="el_table1 mhov">
               <div class="table_inf">
               	<span class="num_ord">Number of order: <a href="#">#</a></span><br>
               	<span class="order_time">Order time: </span><br>
               	<span class="number_of_people">Number of people: </span><br>
               </div>
					<div class="img"><img src="img/table.png" alt=""></div></div>
				<div class="el_table2 mhov">
					<div class="table_inf">
               	<span class="num_ord">Number of order: <a href="#">#</a></span><br>
               	<span class="order_time">Order time: </span><br>
               	<span class="number_of_people">Number of people: </span><br>
               </div>
               <img src="img/table.png" alt=""></div>
			</div>
			<div class="tables3_colum">
				<div class="el_table3 mhov">
					<div class="table_inf">
               	<span class="num_ord">Number of order: <a href="#">#</a></span><br>
               	<span class="order_time">Order time: </span><br>
               	<span class="number_of_people">Number of people: </span><br>
               </div>
               <img src="img/table.png" alt=""></div>
			</div>
			<div class="tables45_colum">
				<div class="el_table4 mhov">
					<div class="table_inf">
               	<span class="num_ord">Number of order: <a href="#">#</a></span><br>
               	<span class="order_time">Order time: </span><br>
               	<span class="number_of_people">Number of people: </span><br>
               </div>
               <img src="img/table.png" alt=""></div>
				<div class="el_table5 mhov">
					<div class="table_inf">
               	<span class="num_ord">Number of order: <a href="#">#</a></span><br>
               	<span class="order_time">Order time: </span><br>
               	<span class="number_of_people">Number of people: </span><br>
               </div>
               <img src="img/table.png" alt=""></div>
			</div>		
		</div>
		<footer class="footer_conteiner">
			<div class="line1_footer">
				<div class="el1_footer">Facebook</div>
				<div class="el2_footer">Mail</div>
				<div class="el3_footer">Telefon</div>
			</div>
			<div class="line2_footer">Adress</div>
		</footer>
	</div>
	</body>
</html>