@font-face {
	font-family: 'Caveat-Regular';
	src: url('../fonts/Caveat-Regular.eot');
	src: local('☺'), url('../fonts/Caveat-Regular.woff') format('woff'), url('../fonts/Caveat-Regular.ttf') format('truetype'), url('../fonts/Caveat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SourceSansPro-Regular';
	src: url('../fonts/SourceSansPro-Regular.eot');
	src: local('☺'), url('../fonts/SourceSansPro-Regular.woff') format('woff'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype'), url('../fonts/SourceSansPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	width: 1280;
	height: 1024;
	background-color: #000;

}
.main_conteiner_orders{
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}


.head_conteiner{
	height: 60px;
	width: 100%;
	background-color: #fff;
	opacity: 0.9;
	font-family: SourceSansPro-Regular;
	font-size: 30px;
	line-height: 32px;


	display: flex;
   justify-content: space-around;
	align-items: center;

}
.head_conteiner p{
		color: #e71f40;
}

.head_title{
	font-family: Caveat-Regular;
	font-size: 55px;
	line-height: 60px;
	color: #e71f40;
}

.body_conteiner_orders{
   font-family: Roboto-Regular;
   flex: 1 1 auto;
   margin: 60px;
   justify-content: space-around;
   align-items: center;
 }
.orders_container{
   display:flex;
   flex-direction: column;
   justify-content: space-around;
	align-items: center;
}

.h1_orders{
	font-size: 60px;
	line-height: 70px;
	text-align: center;
	color:  #fff; 
}

.orders_container{
	width: 100%;
	height: 100%;
	flex-direction: column;

}
.orders{
	width: 100%;
	height: 100%;
	margin: 30px;
	padding: 30px;
	flex: 0 1 100%;

}
.orders textarea{
	font-size: 18px;
	line-height: 24px;
	overflow: auto;
	width: 100%;
	height: 100%;

}

.control_block{
	display: flex;
	flex-wrap: wrap;

}
.find_by_date_bt,.find_by_number_bt,.create_order_bt,.update_order_bt{
	width: 210px;
	height: 45px;
	border-radius: 10px;
	display: flex;
	transition: all 03s ease 0s;
	justify-content: center;
	align-items: center;
	background-color: #4973ff;
	
	margin: 10px;
	flex: 0 1 50%;

}

.create_order_bt,.update_order_bt{
	background-color: #66ff66;
	
}
.find_by_date_bt:hover,.find_by_number_bt:hover{
	transition: all 08s ease 0s;2
	-webkit-box-shadow: 0px 0px 20px rgba( 73, 115 ,255, 0.8);
	box-shadow: 0px 0px 40px rgba( 73, 115 ,255, 0.8);
}
.create_order_bt:hover,.update_order_bt:hover{
	transition: all 08s ease 0s;2
	-webkit-box-shadow: 0px 0px 20px rgba(102, 255, 102, 0.8);
	box-shadow: 0px 0px 40px rgba(102, 255, 102, 0.8);
}
.create_order_bt,.update_order_bt{}
.find_by_date_text,.find_by_number_text,.create_order_text,.update_order_text{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
}




.footer_conteiner{
	min-width: 100%;
   /* Old browsers */
   background: rgb(81,87,217);
   background: -moz-linear-gradient(top, rgba(81,87,217,1) 0%,rgba(45,52,213,1) 100%);
   /* Chrome10-25,Safari5.1-6 */
   background: -webkit-linear-gradient(top, rgba(81,87,217,1) 0%,rgba(45,52,213,1) 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   background: linear-gradient(to bottom, rgba(81,87,217,1) 0%,rgba(45,52,213,1) 100%);
   opacity: 0.95;
   font-family: SourceSansPro-Regular;
	font-size: 18px;
	line-height: 20px;
	color: #e71f40;

	display: flex;
	flex-direction: column;
   align-items: center;

}

.line1_footer{
	display: flex;
	justify-content: space-around;
   align-items: center;
}
.el1_footer,.el2_footer,.el3_footer{padding: 0px 30px; }

/*--------menu------------*/


